/* Asegurarse de que el body y el html ocupen el 100% de la altura */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    background-color: #343a40;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative; /* Asegurarse de que no tenga una posición fija */
}
